*
!backend/
!backend/**
!ml/
!ml/**
!data_pipeline/
!data_pipeline/**
**/.venv
**/__pycache__
**/.pytest_cache
**/*.pyc
**/.env
**/*~
ml/artifacts/*
ml/notebooks
data_pipeline/_sample
data_pipeline/export_ml
data_pipeline/*.egg-info
